*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffcdb2;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#container{
    max-width: 750px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 2rem;
    margin: 1rem;
    background-color: #eee;
    box-shadow: 0 0 10px #888;
    border-radius: 5px;
    text-align: center;
}
#if-expired{
    display: none;
    font-size: 1.5rem;
}
.timer{
    font-size: 4rem;
}
.caption{
    text-align: center;
    font-family: fantasy;
    font-size: 1.2rem
}